.container {
    background-color: #363738;
    padding: 15px;
}

.container textarea {
    resize: none;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #646161;
    color: white;
    border-radius: 5px;
}

.inputArea {
    display: flex;
    align-items: center;
}

.inputArea button {
    margin-left: 15px;
    padding: 7px 15px;
    background-color: #363738;
    color: white;
    border-radius: 5px;
    border: 1px solid #646161;
    transition: .5s;
}

.inputArea button:hover {
    transform: scale(1.2);
    background-color: #f7c56e;
    color: #363738;
}

