.container {
    grid-area: header;
    background-color: #363738;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoContainer img {
    height: 50px;
}

.logo {
    padding: 5px;
    padding-left: 15px;
    width: 50px;
    align-items: center;
}

.name {
    height: 15px;
    padding-left: 15px;
}

.loginBlock{

}