.container {
    grid-area: header;
    background-color: #363738;
    display: flex;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoContainer img {
    height: 50px;
}

.logo {
    padding: 5px 5px 5px 15px;
    width: 50px;
    align-items: center;
}

.name {
    height: 15px;
    padding-left: 15px;
}

.loginBlock{
    font-weight: bold;
    color: #f7c56e;
    align-content: center;
    max-width: 300px;
    overflow: hidden;
    margin-right: 10px;
}