.container {
    grid-area: navbar;
    margin: 15px 15px;
}

.item {
    padding: 10px 40px;
}

.item:hover {
    background-color: #363738;
    transition: all 0.5s;
    border-radius: 5px;
}

.item a:focus {
    font-weight: bold;
}