.container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #141414;
    border-radius: 5px;
    position: relative;
}

.container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author {
    padding: 5px;
}

.message {
    padding: 5px;
}

.comment {
    padding: 5px;
}

.like {
    position: absolute;
    top: 60%;
    left: 95%;
}

.like::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -20px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23b2b2b2%22%20d%3D%22M10.96%202.5A4.036%204.036%200%200115%206.534c0%202.211-.884%203.316-4.52%206.14l-1.099.853a2.252%202.252%200%2001-2.762%200l-1.099-.853C1.884%209.85%201%208.745%201%206.534A4.036%204.036%200%20015.04%202.5c1.111%200%202.103.481%202.96%201.402.857-.92%201.849-1.402%202.96-1.402zM5.04%203.998A2.538%202.538%200%20002.5%206.534c0%201.588.653%202.404%203.94%204.957l1.1.854c.27.21.65.21.92%200l1.1-.854c3.287-2.553%203.94-3.37%203.94-4.957%200-1.4-1.137-2.536-2.54-2.536-.848%200-1.618.482-2.343%201.528l-.206.297a.5.5%200%2001-.822%200l-.206-.297C6.658%204.48%205.888%203.998%205.04%203.998z%22%2F%3E%3C%2Fsvg%3E);
    
}