.app-container{
  margin: 0 auto;
  width: 1000px;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
  "header header"
  "navbar main";

}



.app-navbar{
  grid-area: navbar;
}

.app-header{
  grid-area: header;
}

.app-header img{
  height: 50px;

}

.app-main {
  grid-area: main;
}

.app-main img {
  width: 100%;
  height: 100px;
}