body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e1e3e6;
  background-color:#141414;
}

.app-container{
  margin: 0 auto;
  width: 1000px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
  "header header"
  "navbar profile";
}